<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Главная страница</title>
  <link rel="stylesheet" href="../../static/img/font-awesome-4.7.0/css/font-awesome.min.css">
  <link href="../css/normalize.css" rel="stylesheet" type="text/css" />
  <link href="../css/base.css" rel="stylesheet" type="text/css" />
  <link href="../css/tempate.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <section class="site">
        <section class="header">
            <div class="header-logo">
                <div class="logo">
                    <a href=""><h1 class="name_site">shop<span class="logo">card</span></h1></a>
                </div>
                <div class="transparent"></div>
                <a href="" class="bin"><i class="fa fa-trash" aria-hidden="true"></i></a>
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <a href='' class="text-sing-in">Sign in</a>
            </div>
            <div class="search">
                <form class="search-form">
                    <input class="form-input">
                    <button class="button">Поиск</button>
                </form>
            </div>
            <div class="catalog">
                <div class="type">Еда</div>
                <div class="type">Одежда</div>
                <div class="type">Инструменты</div>
                <!-- Это заполнить -->
            </div>
        </section>
        <section class="recommendations">
            <div class="recommendations-div">
                <div class="text-recomand">We picked some <span class="yellow">cool things</span> for you</div>
                <div class="cards-recomend">
                    <p class="recomend">We recommend you<p>
                    
                    <div class="cards">
                        <div class="card">
                            <!-- В продукт магаз -->
                        </div>
                    </div>
    
                </div>
            </div>
        </section>
        <section class="advertisement">
            <img class="advertisement-img"><img>
        </section>
        <section class="slider">
            <p class="text-slider">Today's hot deals<p>
            <div class="cards-slider">
                <!-- Интернет -->
            </div>
        </section>
        <section class="footer">
            <div class="footer">
                <div class="header-logo">
                    <div class="logo">
                        <h1 class="name_site"><span>shop<span>card</h1>
                    </div>
                </div>
                <div class="menu">
                    <a href="" class="about-us">About us</a>
                    <a href="" class="contacts">Contacts</a>
                    <a href="" class="help">Help</a>
                </div>
                <div class="sing-in">
                    <!-- before icon -->
                    <p class="text-sing-in">Sign in</p>
                </div>
            </div>
        </section>
    </section>

</body>

</html>